@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  /* Font Families */
  --font-family-primary: "Arial", sans-serif;

  /* Font Sizes */
  --font-size--2: 10px;
  --font-size--1: 12px;
  --font-size-0: 14px;
  --font-size-1: 16px;
  --font-size-2: 18px;
  --font-size-3: 24px;
  --font-size-4: 32px;

  /* Font Weights */
  --font-weight-normal: 400;
  --font-weight-bold: 900;

  /* Container Colors */
  --container-color-layer-0: rgb(245, 245, 245);
  --container-color-layer-1: rgb(239, 239, 239);
  --container-color-layer-2: rgb(231, 231, 231);
  --container-color-layer-3: rgb(223, 223, 223);
  --container-color-layer-4: rgb(210, 210, 210);
  --container-color-layer-5: rgb(202, 202, 202);

  /* Text Colors */
  --color-primary-light: rgb(246, 246, 246);
  --color-muted-light: rgb(133, 133, 133);

  --color-primary-dark: rgb(76, 76, 76);
  --color-muted-dark: rgb(120, 120, 120);

  --color-max-light: rgb(255, 255, 255);
  --color-max-dark: rgb(0, 0, 0);

  --color-danger: rgb(229, 115, 115);

  --color-light-accent: #8a2c83;
  --color-mid-accent: #6A2265;
  --border-radius: 10px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.note {
  margin: 5px;
  font-size: var(--font-size--1);
  color: var(--color-muted-light);
}

body {
  margin: 0;
  font-family: var(--font-family-primary);
  font-size: var(--font-size-1);
  font-weight: var(--font-weight-normal);
  color: var(--color-muted-light);
  background-color: var(--container-color-layer-0);
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  display: none;
}

.main-container {
  display: flex;
  flex-direction: column;
  max-width: 1920px;
}

.text-danger {
  margin: 5px;
  font-size: var(--font-size--1);
  color: var(--color-danger);
}

.section-title {
  font-size: 3rem;
  font-weight: var(--font-weight-bold);
  color: var(--color-primary-dark);
  margin: 0;
}

.subtext {
  font-size: 1.5rem;
  margin-top: 20px;
  margin-bottom: 0px;
}