/* FAQ Section */
.faq-section-1 {
    display: flex;
    padding-top: 2rem;
    padding-left: 6rem;
    padding-right: 6rem;
    padding-bottom: 6rem;
    flex-direction: column;
    text-align: left;
    min-height: 500px;
    font-size: 4rem;
    font-weight: var(--font-weight-bold);
    gap: 3rem;
    background-color: var(--container-color-layer-0);
  }
  
  .faq-item {
    color: var(--color-muted-dark);
    cursor: pointer;
    font-size: 3rem;
    font-weight: 700;
    height: 100px;
    padding: 1.5rem;
    position: relative;
    overflow: hidden; /* Ensure content doesn't spill out during animation */
    display: flex;
    align-items: center;
    transition: color 0.3s;
  }
  
  .faq-item:hover {
    color: var(--color-primary-dark);
  }
  
  .faq-item::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 10px;
    height: 100%;
    background-color: var(--color-muted-dark);
    transition: width 0.5s ease, background-color 0.5s; /* Line animation */
  }
  
  .faq-item:hover::before {
    background-color: var(--color-primary-dark); /* Set the hover background color */
  }
  
  .faq-item.expanded::before {
    width: 100%; /* Expand the line to cover the whole width */
    background-color: var(--color-primary-dark);
  }
  
  
  .faq-item.expanded {
    color: transparent; /* Make text white when expanded */
  }
  
  .faq-answer {
    display: none; /* Hidden by default */
    font-size: 1.5rem;
    font-weight: var(--font-weight-normal);
    text-align: left;
    padding: 1rem;
    color: var(--color-primary-light);
    z-index: 1;
  }
  
  .faq-item.expanded .faq-answer {
    display: block; /* Display the answer when expanded */
  }
  